%article#site_description
  %h1= t('.greeting')
  %p
    Autocato helps you automatically categorize bookmarks using the power of
    machine learning.

%article#sign_up
  = render 'devise/registrations/form'
