%article#site_description
  %h1= t('.greeting')
  %p
    Autocato helps you automatically categorize bookmarks using the power of
    machine learning.

- unless user_signed_in?
  %article#site_entry
    = render 'devise/registrations/form'
    = render 'devise/sessions/form'
