.welcome.index {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $medium-screen) {
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      flex: 1 1;
      padding: $small-spacing;
    }

    #site_description,
    #sign_up {
      flex-basis: 40%;
    }
  }

  form {
    max-width: 25em;
  }
}
