.welcome.index {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $medium-screen) {
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      flex-grow: 1;
      padding: $small-spacing;
    }
  }

  form {
    max-width: 25em;
  }
}
